.header {
    position: fixed;
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;

    &__logo{
        display: flex;
        margin-left: 14%;
    }

    &__nav {
        margin-left: 10%;
        text-transform: uppercase;
        font-size: 0.8vw;
        font-weight: 700;
        color: rgb(47, 128, 237);
        &>span {
            margin: 0 4% 0 4%;
        }
    }

    &__btn{
        margin: 0 6% 0 18%;
        text-align: center;
        width: 12%;
        height: 4.5vh;
        border: 1px solid #2F80ED;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.9);
        font-family: 'Lato', sans-serif;
        font-size: 0.8vw;
        font-weight: 700;
        text-transform: uppercase;
        color: rgb(47, 128, 237);
    }
}

.logo {
    width: 80%;
}